<div class="container">
    <form #registerForm="ngForm" class="register" action="" method="post" (ngSubmit)="register(registerForm)">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input #usernameInput="ngModel" ngModel class="input-error" type="text" name="username" id="username" 
                placeholder="Username" required minlength="3">
            </p>

            <ng-container *ngIf="usernameInput.touched">
                <p class="error" *ngIf="usernameInput.errors?.['required']">
                    Username is required!
                </p>
                <p *ngIf="usernameInput.errors?.['minlength']" class="error">
                    Username must be at least 3 characters!
                </p>
            </ng-container>
            

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input #emailInput="ngModel" ngModel class="input-error" type="email" name="email" id="email"
                placeholder="Email adress" required email>
            </p>

            <ng-container *ngIf="emailInput.touched">
                <p *ngIf="emailInput.errors?.['required']" class="error">
                    Email is required!
                </p>
                <p *ngIf="emailInput.errors?.['email']" class="error">
                    Email is not valid!
                </p>
            </ng-container>

            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input #phoneInput="ngModel" ngModel [pattern]="phonePattern" type="text" name="tel" id="tel" 
                placeholder="885 888 888" required>
            </p>

            <ng-container *ngIf="phoneInput.touched">
                <p *ngIf="phoneInput.errors?.['required']" class="error">
                    Phone number is required!
                </p>
                <p *ngIf="phoneInput.errors?.['pattern']" class="error">
                    Phone number is not valid!
                </p>
            </ng-container>
            
            
            <!-- password -->
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="password" id="password" placeholder="******">
            </p>
            <!-- <p class="error">
                Password is required!
            </p>
            <p class="error">
                Password must be at least 4 characters!
            </p> -->

            <!-- rePassword -->
            <p class="field field-icon">
                <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="rePassword" id="rePassword" placeholder="******">
            </p>
            <!-- <p class="error">Repeat Password does not match password!</p> -->

            <button disabled>Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>
