<div class="container">
    <form [formGroup]="loginForm" class="login" action="" method="post" (ngSubmit)="login()">
        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input formControlName="email" class="input-error" type="email" name="email" id="email"placeholder="Email adress">
            </p>

            <ng-container *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
                <p *ngIf="loginForm.controls['email'].errors?.['required']" class="error">
                    Email is required!
                </p>
                <p *ngIf="loginForm.controls['email'].errors?.['emailError']" class="error">
                    Email is not valid!
                </p>
            </ng-container>
            
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input formControlName="password" type="password" name="password" id="password" placeholder="******">
            </p>

            <ng-container *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
                <p *ngIf="loginForm.controls['password'].errors?.['required']" class="error">
                    Password is required!
                </p>
                <p *ngIf="loginForm.controls['password'].errors?.['minlength']" class="error">
                    Password must be at least 5 characters!
                </p>
            </ng-container>
            
            <button type="submit" [disabled]="loginForm.invalid">Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/user/register">Register</a>
            </p>
        </fieldset>
    </form>
</div>