<aside>
    <div class="aside">
        <h2 class="title">
            {{title}}
        </h2>
        <div *ngIf="data">
            <div *ngFor="let item of data" class="aside-theme">
                <a href="#">
                    <h3>{{item.themeId.themeName}}</h3>
                    <p>{{item.userId.username}}r</p>
                    <p><span>{{item.created_at}}</span></p>
                </a>
            </div>
        </div>
    </div>
</aside>

<div id="load-bar" *ngIf="!data">Loading <mat-progress-bar mode="buffer"></mat-progress-bar></div>
