<div class="container">
    <!-- theme content  -->
    <div class="theme-content">
        <!-- theme-title  -->
        <div class="theme-title">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <h2>{{ theme?.themeName }}</h2>
                    <p>Date: <time>{{ theme?.created_at | date: 'yyyy-MM-dd - hh:mm:ss' }}</time></p>
                </div>
                <div *ngIf="isLogged" class="subscribers">
                    <p>Subscribers: <span>{{ theme?.subscribers?.length }}</span></p>
                    <button *ngIf="canSubscribe" (click)="subscribeThemeWithActivatedId()" class="subscribe">Subscribe</button>
                    <button *ngIf="!canSubscribe" class="unsubscribe">Unsubscribe</button>
                </div>
            </div>
        </div>
        <!-- comments  -->
        <div class="comment" >
            <app-theme-comments *ngFor="let post of theme?.posts; let i=index" [index]="i" [post]="post" [theme]="theme"></app-theme-comments>
        </div>
    </div>
</div>