<div class="container">
    <div class="new-theme-border">
        <div class="header-background">
            <span>New Theme</span>
        </div>
        <form #addThemeForm="ngForm" (ngSubmit)="submitTheme(addThemeForm)">
            <div class="new-theme-title">
                <label for="themeName">Title <span class="red">*</span></label>
                <input type="text" #title="ngModel" ngModel name="themeName" id="themeName" required minlength="5">

                <ng-container *ngIf="title.touched && title.invalid">
                    <p class="error" *ngIf="title.errors?.['required']">
                        Theme name is required.
                    </p>
                    <p class="error" *ngIf="title.errors?.['minlength']">
                        Theme name must be at least 5 characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-content">
                <label for="postText">Post <span class="red">*</span></label>
                <textarea type="text" #textContent="ngModel" ngModel name="postText" id="postText" 
                rows="8" class="height" required minlength="10"></textarea>

                <ng-container *ngIf="textContent.touched && textContent.invalid">
                    <p class="error" *ngIf="textContent.errors?.['required']">
                        The field with your post is required.
                    </p>
                    <p class="error" *ngIf="textContent.errors?.['minlength']">
                        Post must be at least 10 characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-buttons">
                <button type="button" class="cancel" (click)="addThemeForm.reset()">Cancel</button>
                <button class="public" [disabled]="addThemeForm.invalid">Post</button>
            </div>

        </form>
    </div>
</div>
